body {
  font-family: "maven pro";
}

h1 {
  color: #000;
  font-size: 35px;
  font-weight: 400;
  line-height: 28px;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto 20px;
  padding: 20px;
  border: 2px solid #dadde1;
  border-radius: 15px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  margin-bottom: 25px;
  width: 75px;
  height: 75px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature small {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forcast {
  margin-top: 10px;
  text-align: center;
}

.weather-forcast-date {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.weather-forcast-temperature {
  font-size: 18px;
}

.weather-forcast-temperature-max {
  color: #000;
  font-weight: 600;
}

.weather-forcast-temperature-min {
  color: #878787;
}

.footer {
  font-size: 14px;
  font-weight: 300;
}

#city-input {
  border-radius: 10px;
  border: 2px solid #dadde1;
}

#search-button {
  background-color: #7eca9c;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
